* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑"
}

li {
    list-style: none;
}

.lookBack {
    cursor: pointer;
}

.liveChannels {
    cursor: pointer;
}

.logox78 {
    width: 78px;
    height: 78px;
}

#saveWeb {
    cursor: pointer;
}

.dude-navbar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    border: None;
}

.dude-navbar-collapse {
    margin-top: 20px;
}

.dude-navbar-brand {
    padding: 10px 15px;
}

a.static-nav-link {
    color: #bbb !important;
}

.dude-navbar-collapse li a:hover,
.dude-navbar-collapse li a:focus {
    background-color: transparent;
    color: #FFF !important;
}

@media (max-width: 767px) {
    .dude-navbar-collapse ul {
        background-color: #a94442;
        ;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }
    .dude-navbar-collapse {
        margin-top: 0;
    }
    .slogan {
        width: 80%!important;
        left: 10%!important;
    }
    .twitterImg {
        width: 100%;
    }
    .ins-live-box h3 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .slogan {
        width: 100%!important;
        left: 0%!important;
        top: 60px!important;
        height: 240px!important;
    }
    .slogan h2 {
        font-size: 18px;
        margin-top: 18px!important;
    }
    .slogan .animated {
        padding: 0 10px;
    }
    .banner {
        height: 300px!important;
    }
    a.static-nav-link {
        color: #f5f5f5 !important;
        font-weight: bold;
        text-align: center;
    }
    .twitterImg {
        width: 100%;
    }
}

.banner {
    width: 100%;
    height: 530px;
    padding-top: 120px;
    color: #fff;
    position: relative;
    /*background: url(../static/img/banner1.jpg) center no-repeat #797470;*/
}

.slogan {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 60px;
    height: 470px;
    z-index: 1;
}

.slogan h2,
.slogan p {
    color: #fff;
    letter-spacing: 3px;
    line-height: 36px;
    text-indent: 1.0em;
}

.slogan h2 {
    margin-top: 134px;
}

#go-todayGame,
#go-tomGame {
    cursor: pointer;
    color: #337ab7;
}

.match {}

.match-team,
.match-live {
    overflow: hidden;
}

.match-team dl,
.match-live dl {
    float: left;
    width: 33%;
    text-align: center;
}

.match-team-score,
.match-live-page,
.match-nolive-page {
    line-height: 78px;
    font-size: 24px;
    color: #a94442;
}

.match-live-page {
    color: #57bf59;
    cursor: pointer;
}

.match-live-page:hover {
    color: #57bf59;
}

.match-nolive-page {
    color: #999;
}

.match-nolive-page:hover {
    color: #999;
    text-decoration: none;
}

.ins-live-box h3 {
    color: #a94442;
}

.ins-live-box-item {
    padding: 0;
}

.ins-live-box-item .thumbnail {
    margin-bottom: 0;
    border-radius: 0;
}

.ins-live-box p {
    word-wrap: break-word;
}

.playerHead {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px #ccc;
}

.twitterImg {
    border-radius: 5px;
    width: 100%;
}

.twitter-live-box .media-heading {
    color: #a94442;
}

footer {
    height: 50px;
    line-height: 50px;
    background: black;
    font-size: 16px;
    text-align: right;
    padding: 0 20px;
}

.fixBox {
    position: fixed;
    width: 90px;
    right: 20px;
    bottom: 200px;
    font-size: 12px;
    text-align: center;
}

.fixBox li {
    padding: 5px 9px;
    opacity: 0.8
}
