/*
* @Author: 张驰阳
* @Date:   2016-11-30 17:52:28
* @Last Modified by:   张驰阳
* @Last Modified time: 2016-12-09 16:30:33
*/

* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑"
}

header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.8);
    padding-left: 50px;
     box-shadow: 1px 1px 1px #ccc;
}

header a {
    color: #bbb;
    text-decoration: none;
	font-size: 20px;
}

header a:hover {
    color: #fff;

}
.f-pad0{
    padding: 0;
}
/*.playerBox .col-sm-1{
padding: 0;
}
*/
#a1{
    width: 100%;
    height: 500px;
}
.chatBox{
    height: 500px;
    position: relative;
    border:1px solid #ccc;
    box-sizing: border-box;
        padding: 0 5px;
}
.chooseLine{
    /*background: yellow;*/
}
.chooseLine li a{
    width: 100%;
}
.chatBox{
    /*background: red;*/
}
.chat-input{
    position: absolute;
    bottom: 0;
}